<!-- web_app/templates/new_tweet.html -->

{% extends "layout.html" %}

{% block content %}

    <h4>New Tweet Page</h4>

    <p>Please fill out the form and submit to create a new Tweet!</p>

    <form action="/tweets/create" method="POST">

        <label>Content:</label>
        <input type="textarea" rows="4" cols="50" name="content" placeholder="Content here" value="This is the default tweet content">

        <label>User:</label>
        <select name="user_id">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>

        <button>Submit</button>
    </form>
{% endblock %}