<!-- web_app/templates/tweets.html -->

{% extends "layout.html" %}

{% block title %}
    <title>Twitter</title>
{% endblock %}

{% block nav %}
    <h1>Cooper Vos</h1>
    <ul text-decoration: none;">
        <li style="display: inline; padding:.2em; font-size: 20px;"><a href="/">Home</a></li>
        <li style="display: inline; padding:.2em; font-size: 20px;"><a href="/twitter">Tweets</a></li>
    </ul>
    <h4>{{ message }}</h4>
    <a href="/twitter/find_user" style="display: inline; padding:.8em; font-size: 10px;">Get User Tweets</a>
    <a href="/twitter/all_users" style="display: inline; padding:.8em; font-size: 10px;">Display All Retrieved Users</a>
{% endblock %}


{% block content %}
{% endblock %}
